.content-wrapper {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.mat-card {
    margin-bottom: 20px;
}

ht-info p {
    margin-bottom: 3px;
}

.flights-wrapper {
    max-height: 100vh;
    overflow: auto;
}

.flights-wrapper .mat-card-content {
    cursor: pointer;
}

.arrivals-wrapper {
    margin-left: 45px;
}
